<!DOCTYPE html>
<html>
{% load static %}
{% block title %}
    <title>
    Flower Child Remedies
    </title>
{% endblock title %}

<head>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,500,500i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
	<link rel="stylesheet" href="{% static 'css/style.css?v=1.133' %}">
	
</head> 

		    {% block header %}
		    {% endblock header %}
		

			{% block content %}
			{% endblock content %}
			
			

			{% block footer %}
			{% endblock footer %}



</html>