<!DOCTYPE html>
<html>
{% load static %}
{% block title %}
    <title>
    Flower Child Remedies
    </title>
{% endblock title %}

<head>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,500,500i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
	<link rel="stylesheet" href="{% static 'css/style.css?v=1.444' %}">
	<link rel="stylesheet" media="screen and (max-width: 1024px)" href="{% static 'css/mobile.css?v=1.444' %}"/>
	
</head> 
<h6 class="tc f1 mb0 pb0 pt0 Blacksword">Flower Child Remedies</h6>
{% block header %}

{% endblock header %}


{% block content %}
{% endblock content %}

<footer class="footer poppin  mb3">
	<small class="f7 db tc ">Copyright Flower Child Remedies, Inc. © 2019. All rights reserved.</small>
		<div class="tc mt2">
			<a href="#" class="f7 tc ph1 link dim">FAQ</a>

			<a class="f7 h2 tc link ph1 dim" href="http://tianahorn.com/files/TianaHornResume.pdf">Privacy</a>
			<a href="#" class="f7 tc ph1 link dim">Terms</a>
			<a href="#" class="f7 tc ph1 link dim">Shipping Policy</a>
			<a href="#" class="f7 tc ph1 link dim">Refund Policy</a>
		</div>
</footer>



</html>