{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>
    Flower Child Remedies
    </title>
{% endblock title %}

{% block header %}
{% endblock header %}


{% block content %}
<body class="body">
    <article class="flex cf ph3 ph5-ns pv5 vh-100 dt w-100">
        <div class="mw5 mw7-ns center pa2 ph5-ns">
            <div class="poppin tc">
                <img src='static/img/BrownFlower.png' alt="Flower Child Remedies flower logo" width=200 height=200 >
                <h1> Flower Child Remedies </h1>
                <h2> A combination of hair care, nature, and tech!  </h2>
                <h4> Under Construction: Relaunching Summer 2019 </h3>
                <h5> Questions? Contact Tiana at tiana@flowerchildremedies.com </h4>
                    <div class="Row">
                        <a target="_blank" class="Column dim grow" href="https://www.instagram.com/flowerchildremedies/"><img src="/static/img/IGBrown.png" alt="Instagram icon" width=77 height=77 ></a>
                        <a target="_blank" class="Column dim grow" href="https://www.facebook.com/flowerchildremedies/"><img src="/static/img/FBRed.png" alt="Facebook icon" width=77 height=77 ></a>
                        <a target="_blank" class="Column dim grow" href="https://twitter.com/FlowerChildReme"><img src="/static/img/BlackTwitter.png" alth="Twitter icon" width=77 height=77 ></a>
                    </div>
            </div>
        </div>
    </article>
</body>

{% endblock content %}


{% block footer %}
{% endblock footer %}
