{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>
    Flower Child Remedies
    </title>
{% endblock title %}

{% block header %}
{% endblock header %}


{% block content %}
<body class="body">
    <article class="flex cf ph3 ph5-ns pv5 vh-100 dt w-100">
        <div class="mw5 mw7-ns center pa3 ph5-ns">
            <div class="poppin tc">
                <img src='static/img/Black Logo Clean.png' width=400 height=250 >

                <h1 > Flower Child Remedies </h1>
                <h2> A combination of hair care, nature, and tech!  </h2>
                <h4> Under Construction: Relaunching Summer 2019 </h3>
                <h5> Questions? Contact Tiana at tiana@flowerchildremedies.com </h4>
            </div>
        </div>
    </article>
</body>

{% endblock content %}


{% block footer %}
{% endblock footer %}
