{% load static %}

{% block title %}
    <title>
    Flower Child Remedies
    </title>
{% endblock title %}
<head>
<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,500,500i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
	<link rel="stylesheet" href="{% static 'css/style.css?v=1.444' %}">
	<link rel="stylesheet" media="screen and (max-width: 1024px)" href="{% static 'css/mobile.css?v=1.444' %}"/>
</head>
{% block header %}
{% endblock header %}


{% block content %}
<body class="body">
    <article class="flex cf ph3 ph5-ns pv5 vh-100 dt w-100">
        <div class="mw5 mw7-ns center pa2 ph5-ns">
            <div class="poppin tc">
                <img src='static/img/BrownFlower.png' alt="Flower Child Remedies flower logo" width=200 height=200 >
                <h1> Flower Child Remedies </h1>
                <h2> A combination of hair care, nature, and tech!  </h2>
                <h3> Under Construction: Relaunching Summer 2019 </h3>
                <h5> Questions? Contact Tiana at tiana@flowerchildremedies.com </h4>

                    <div class="Row">
                        <a target="_blank" class="Column dim grow" href="https://www.instagram.com/flowerchildremedies/"><img src="/static/img/IGBrown.png" alt="Instagram icon" width=77 height=77 ></a>
                        <a target="_blank" class="Column dim grow" href="https://www.facebook.com/flowerchildremedies/"><img src="/static/img/FBRed.png" alt="Facebook icon" width=77 height=77 ></a>
                        <a target="_blank" class="Column dim grow" href="https://twitter.com/FlowerChildReme"><img src="/static/img/BlackTwitter.png" alth="Twitter icon" width=77 height=77 ></a>
                    </div>
                <h4> FEATURED IN </h4>
                    <div class="Row">
                        <a target="_blank" class="Column dim" href="https://www.usnews.com/education/best-colleges/articles/2017-09-25/north-carolina-college-road-trip-duke-university"><img src="/static/img/USNews.png" alt="US News and World Report logo" ></a>
                        <a target="_blank" class="Column dim" href="https://blog.discoverdurham.com/four-innovative-african-american-led-startups-in-durham"><img src="/static/img/Durham.png" alt="Discover Durham logo"  ></a>
                        <a target="_blank" class="Column dim pl1" href="https://www.wraltechwire.com/2016/02/03/flower-child-remedies-launches-out-of-durham-and-duke-univeristy-startup-community-160203/"><img src="/static/img/WRAL.png" alt="WRAL logo" ></a>
                        <a target="_blank" class="Column dim" href="https://www.dukechronicle.com/article/2016/08/duke-student-tiana-horn-creates-all-natural-hair-products-in-startup"><img src="/static/img/DukeChronicle.png" alt="Duke Chronicle logo" ></a>
                    </div>
            </div>
        </div>
    </article>
</body>

{% endblock content %}


{% block footer %}
{% endblock footer %}
