{% extends 'base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block header %}
{% endblock header %}


{% block content %}
<body>
    <img src='static/images/flowerlogo.png'>
    <h1> Flower Child Remedies </h1>
    <h2> A combination of hair care, tech, and nature unlike any other </h2>
    <h3> Relaunching Summer 2019! </h3>
    <h4> For more information, contact Tiana at tiana@flowerchildremedies.com </h4>
</body>

{% endblock content %}


{% block footer %}
{% endblock footer %}
