{% extends 'base.html' %}

{% block title %}

{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<body class="body">
    <div class="poppin tc">
        
        <container class="container third productpage">
            <div><br></div>
            <img src="{{ product.image.url }}" alt="{{ product.title }}, {{ product.details }}">
        </container>
        <container class="container third productpage">
            <h1>{{ product.title }} </h1>
            <h1> ${{ product.price }}</h1>
        </container>
        <div class="productdetail pb7">
            <h2>{{ product.details }}</h2>
        </div>
    </div>
</body>
{% endblock content %}

{% block footer %}
{% endblock footer %}
