{% extends 'base.html' %}
{% load static %}


{% block title %}
{% endblock title %}

{% block header %}
{% endblock header %}


{% block content %}


<body class="body">
    <div class="poppin tc">
            <container class="container">
            {% for product in products %}
            <div class="third">
            <a class="dim grow no-underline" href="{% url 'product_detail' product_id=product.pk %}">
                <img class="productpic" src="{{ product.image.url }}" alt="{{ product.title }}, {{ product.details }}">
                <br>
                <h1>{{product.title}}</h1>
                <h2>${{product.price}}</h2>
                <br>
                
            </a>
            </div>
            {% endfor %}
            </container>

    </div>
</body>



{% endblock content %}


{% block footer %}
{% endblock footer %}
