{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}


{% block title %}
{% endblock title %}

{% block header %}
{% endblock header %}


{% block content %}


<body class="body">
    
    <div class="poppin tc">
            <container class="mt0 pt0 container">
            {% for product in products %}
            <div class="third">
            <a class="dim grow no-underline" href="{% url 'product_detail' product_id=product.pk %}">
                <img class="productpic" src="{{ product.image.url }}" alt="{{ product.title }}, {{ product.details }}">
                <br>
                <h1>{{product.title}}</h1>
                <h2>${{product.price}}</h2>
                <br>
                
            </a>
            </div>
            {% endfor %}
            
            <div class="Row mt5">
                <br>
                <br>
                <br>
                <h3> FEATURED IN </h3>
            </div>
            <div class="Row">
                <a target="_blank" class="Column dim" href="https://www.usnews.com/education/best-colleges/articles/2017-09-25/north-carolina-college-road-trip-duke-university"><img src="/static/img/USNews.png" alt="US News and World Report logo" ></a>
                <a target="_blank" class="Column dim" href="https://blog.discoverdurham.com/four-innovative-african-american-led-startups-in-durham"><img src="/static/img/Durham.png" alt="Discover Durham logo"  ></a>
                <a target="_blank" class="Column dim pl1" href="https://www.wraltechwire.com/2016/02/03/flower-child-remedies-launches-out-of-durham-and-duke-univeristy-startup-community-160203/"><img src="/static/img/WRAL.png" alt="WRAL logo" ></a>
                <a target="_blank" class="Column dim" href="https://www.dukechronicle.com/article/2016/08/duke-student-tiana-horn-creates-all-natural-hair-products-in-startup"><img src="/static/img/DukeChronicle.png" alt="Duke Chronicle logo" ></a>
            </div>
            </container>

    </div>
</body>




{% endblock content %}


{% block footer %}

{% endblock footer %}
