
.body {
  background-color: white;
}

@font-face {
  font-family: 'blackswordregular';
  src: url('http://flowerchildremedies.com/core/static/css/fonts/blacksword-webfont.woff2') format('woff2'),
      url('http://flowerchildremedies.com/core/static/css/fonts/blacksword-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.container {
  max-width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom:10%;
  margin-top:10%;

}

.third {
  min-width:50%;
  max-width:50%;
  margin-top:5%;
  margin-bottom:5%;
}

.productpic {
  max-width: 100%;

}

.poppin {
  font-family: 'Poppins', sans-serif;
}

h6 {
  font-family: 'blackswordregular';
  color: #381713
}

h1 {
  color: #381713
}

h2 {
  font-weight: 500;
  color: brown;
}

h3 {
  font-weight: 500i;
  color: brown;
}

h4 {
  font-weight: 300;
}

h5{
  font-weight: 300i;
}

.Row {
  display: table;
  width: 100%; 
  table-layout: auto; 
  border-spacing: 5px; 
}

.Column {
  display: table-cell;
}