.poppin {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 700;

}

h2 {
    font-weight: 500;
    color: brown;
}

h3 {
    font-weight: 500i;
}

h4 {
    font-weight: 300;
}

h5{
    font-weight: 300i;
}

.body {
    background-color: bisque
}

.Row
{
    display: table;
    width: 80%; 
    table-layout: fixed; 
    border-spacing: 10px; 
}
.Column
{
    display: table-cell;
}

